<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="">Главная</a></li>
	    <% if(user) {%>
	        <li><a href="">Чат</a></li>
	    <%}%>
    </ul>
    <ul class="nav navbar-nav navbar-right">
	    <%if(user){%>
	        <li><a href="" onclick="$('<form method=POST action=/logout></form>').submit(); return false">Выйти</a></li>
	    <%} else {%>
        <li><a href="">Войти</a></li>
	    <%}%>
    </ul>
</nav>